Administratif/*

venv/

# Altegrad
Altegrad/tutorials/Lab1_HAN/data/*

#latex
main.aux
main.log
main.out
main.fdb_latexmk
main.fls
main.synctex.gz
main.xsim
shortcuts.sty
theme.sty
texput.log

X_test.npy
X_train.npy
y_test.npy
y_train.npy

git rm -r --cached .