[submodule "Object_recognition/assignments/a3/recvis24_a3"]
	path = Object_recognition/assignments/a3/recvis24_a3
	url = git@github.com:JulienDelavande/recvis24_a3.git

[submodule "RLclass_MVA"]
	path = Reinforcement_learning/RLclass_MVA
	url = https://github.com/erachelson/RLclass_MVA.git

[submodule "TimeSeries"]
	path = Time_series/tutorials-mva-2024-2025
	url = https://github.com/deepcharles/tutorials-mva-2024-2025.git
[submodule "PGM/project/DeepBayes"]
	path = PGM/project/DeepBayes
	url = git@github.com:SoelMgd/DeepBayes.git
[submodule "PGM/DeepBayes"]
	path = PGM/DeepBayes
	url = git@github.com:SoelMgd/DeepBayes.git
[submodule "Object_recognition/project"]
	path = Object_recognition/project
	url = git@github.com:SoelMgd/TokenCompose.git
